.smoked-overlay {
    position: fixed;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
    pointer-event: all;
}
.smoked-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 20px 30px;
    border-radius: 12px;
    width: 350px;
    font-size: 1.8rem;
    color: red;
    box-shadow: 0 40px 10px rgba(0,0,0,0.5);
    z-index: 2000;

}
    
.smoked-btn {
    background-color: gray;
    font-size: 1.3rem;
    color: black;
    padding: 5px 15px;
    border-radius: 10px;
}

.smoked-btn:hover {
    background-color: #cbcbcb;
    color: #FFF;
}