.black-container {
    width: 100%;
    background-color: black;
}

.btns-container {
    display: flex;
    justify-content: space-around;
    background-color: green;
    padding: 0;
    padding-bottom: 100px;
    width: 100%;
    margin-top: -10px;
    padding-top: 20px;
}

.roll-btn, .bank-btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #fff2c2;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.roll-btn:hover, .bank-btn:hover {
    background-color: #ffca05;
}
