dice-board { 
  background-color: green; 
  display: flex; 
  justify-content: 
  space-around; 
  height: 300px; 
} 

.dice-row {
   display: flex; 
   justify-content: 
   space-between; 
   width: 80%; 
   margin: 20px auto; 
}