.start-btn {
    position: reletive;
    z-index: 9999;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
}