.scorekeeper-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 2rem;
    border: 3px double #fff2c2;
    border-radius: 156px;
    Margin: 10px auto;
    padding: 25px;
    border: 5px #fff2c2 solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.scorekeeper-container > :first-child {
    margin-left: 70px;
}

.scorekeeper-container > :last-child {
    margin-right: 70px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    padding: 10px;
}

.score-container, .bank-points {
   text-align: right;
   font-size: 1.5rem;
}

.points-display {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
    margin-left: 40px;
    width: 120px;
    border: 3px double #fff2c2;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.points active {
    border: 3px solid gold !important;
    box-shadow: rgba(253, 208, 23, 0.56) 0px 22px 70px 4px;
}

.bank-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bank {
    border: 3px double #fff2c2;
    border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5px 10px;
}



