.scorekeeper-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 2rem;
    border: 3px double #fff2c2;
    border-radius: 156px;
    Margin: 10px auto;
    padding: 25px;
    border: 5px #fff2c2 solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.scorekeeper-container > :first-child {
    margin-left: 70px;
}

.scorekeeper-container > :last-child {
    margin-right: 70px;
}

.score {
    padding: 10px;
}

.score-container, .bank-points {
   text-align: right;
   font-size: 1.5rem;
}

.player.active {
    background-color: rgb(234, 198, 69);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
    margin-left: 80px;
    width: 120px;
    border: 3px double #fff2c2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


