.player-name-input {
    border-radius: 10px;
}

.player-name-input input {
    padding: 5px 10px;
    text-align: right;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.player-name-input input:disabled {
    background-color: #002D04;
    color: #fff;
    cursor: not-allowed;
}

.player-name-input input.active {
    border: 3px solid gold !important;
    background-color: #fffbe0;
    color: black;
    box-shadow: rgba(253, 208, 23, 0.56) 0px 22px 70px 4px;
}