.held-btn {
    background-color: #daa520;
}

.hold-btn {
    background-color: grey;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}

.hold-btn:hover {
        background-color: #cbcbcb;
        color: #b38d00;
    }

.held-btn, .hold-btn {
    font-size: 1.3rem;
    padding: 5px 15px;
    margin-top: 20px;
}