.game-board {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(75, 124, 15);
  color:#fff2c2;
}

.title {
  Text-align: center;
  font-size: 70pt;
  font-weight:S 800;
}

.dice-container {
  display: flex;
  padding: 0 175px;
  justify-content: space-between;
  margin: 50px 0px;
}
