body {
    background-color: black;
}

#main-container {
  color: #A8A9AD;
    background-color: #004C54;
    border: 5px #A8A9AD solid;
    margin: auto;
    width: 600px;
    padding: 50px;
  }

  #icon-container {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  #title {
    text-align: center;
  }
  
  #rules-scoring {
    display: flex;
  }
  
  h2 {
    text-align: center;
  }
  
  #rules {
    width: 40%;
  }
  
  #scoring {
    width: 40%;
    margin-left: 50px;
  }
  
  #how-to-play,
  #how-to-score {
    display: none;
  }
  
  #how-to-score {
    padding: 10px;
  }
  
  #how-to-play-btn,
  #how-to-score-btn {
    text-align: center;
  }
  
  #score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .toggle-btn {
    color: #A8A9AD;
    background-color: black;
    float: right;
    border: none;
    border-radius: 5%;
    font-size: 16px;
  }
  
  #player-score,
  #bank,
  #computer-score {
    border: 2px white double;
    height: 20px;
    width: 95px;
    margin-top: 0;
  }
  
  #dice-container {
    display: flex;
    justify-content: space-between;
  }
  .die-container {
    margin-top: 30px;
  }
  
  .die {
    border: 3px solid white;
    border-radius: 15%;
    height: 35px;
    width: 35px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    padding-top: 3px;
  }

.hold-button {
  background-color: black;
  color: #A8A9AD;
}

  
  #controllers {
    display: flex;
    justify-content: space-between;
  }
  
  #roll-btn, #bank-btn {
    color: #A8A9AD;
    background-color: black;
    margin-left: 50px;
    margin-top: 30px;
    width: 100px;
    font-size: 24px;
  }
  