.rules-container {
    background-color: #d0f0c0;
    color:#000;
    width: 50vw;
    Margin: 20px;
    padding: 55px 35px;
    height: 500px;
    overflow-y: auto;
    
}

.rules-title {
    text-align: center;
    margin-bottom: 50px;
}

.rule {
    padding: 10px;
}

