.rules-container {
    background-color: rgb(75, 124, 15);
    color:#fff2c2;
    width: 50vw;
    Margin: 0 auto;
    padding: 55px 35px;
}

.rules-title {
    text-align: center;
    margin-bottom: 50px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}